{% extends "base.html" %}
{% block content %}
<!-- header section -->
<header class='bg-dark py-5'>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Invoice Processing Automation</h1>
            <p class='lead fw-normal text-white-50 mb-0'>About Us</p>
        </div>
    </div>
</header>
<br>
<div class="container">
    <div class="row">
        <center>
            <div class='col-8'>
                <p align="justify">
                    <strong>Invoice Processing Automation</strong> solution pioneered by <strong> Botmatic Solution (P) Ltd.</strong> It saves up to 45% accounting & finance processes cost and provides best in class return on investments. It provides complete automation solutions to most of finance & compliance processes.

                    Investing on us gives a long term capability to implement digital strategy on finance processes along with desired ROI's.

                    We strongly believe one can earn better return on investment (ROI), if human minds given to think, analyse, innovate, design or lead than engaging their in predicative processes.

                    <br><br/>
                    Automate complete P2P cycle of invoice processing i.e. supplier submits invoices and accounting is done in customer ERP system. Capability of our BOT is to check/validate vendor and open POs compliances. 
                    <br/>
                    - Fintech Automation.
                    <br/>
                    - Analytics.
                    <br>
                    - Robotic Process Automation.
                    <br>
                    - Digital Transformation Strategy.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock  %}