{% extends "base.html" %}
{% block content %}
<!-- header section -->
<header class='bg-dark py-5'>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Invoice Processing Automation</h1>
            <p class='lead fw-normal text-white-50 mb-0'>Contact Us</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <strong>Call: </strong>+91 7798824168
         
    </div>
      <br>
      <div class="col-sm">
        <strong>Email: </strong>enquiry@botmaticsolution.com
        <br>
        <strong>Web: </strong>www.botmaticsolutions.com
      </div>
      <br>
      <div class="col-sm">
        <strong>Location: </strong>715 Global Business Hub,
                        Kharadi, Pune, Maharashtra 411014
      </div>
    </div>
  </div>
<br><br>
{% endblock  %}