<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" style=" position:fixed; margin-right:155px; width: 100%; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Invoice Processing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>     

      {% if user.is_authenticated %}
          <li class="nav-item" >
            <a class="nav-link" href="{% url 'upload_invoice' %}">Upload Invoice</a>
          </li> 
          <li class="nav-item" >
            <a class="nav-link" href="{% url 'show_files' %}">Show Uploaded Invoices</a>
          </li>
          <!-- <li class="nav-item" >
            <a class="nav-link" href="{% url 'text_extraction_page' %}">Text Extraction</a>
          </li> -->
          <li class="nav-item" style="float: right; ">
            <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
          </li> 

      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li> 

          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
      {% endif %}
      
      </div>
    </div>
  </nav>